<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dva Demo</title>
  <link rel="stylesheet" href="/public/index.css" />
</head>

<body>

  <div id="root"></div>

  <script>
    window.vmData = <%- JSON.stringify(vmData) %>
  </script>

  <script src="/public/index.js"></script>
  <script src="/public/arrow.js"></script>

</body>

</html>
